* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Sora', sans-serif;
    background-color: #FAFAF9;
}
.starImage {
    width: 45px;
    height: 45px;
    object-fit: contain;
}
.infoContainer {
    margin-top: 50px;
    padding: 20px;
}
.infoContainer h2 {
    margin-top: 20px;
    font-size: 2.25rem;
    margin-bottom: 10px;
    color: #18181B;
}
.infoContainer p {
    font-weight: 400;
    color: #52525A;
    font-size: 1.25rem;
    margin-bottom: 40px;
    width: 90%;
}
.feature {
    display: flex;
}
.feature p {
    margin-left: 10px;
    font-size: 0.875rem;
    margin-bottom: 20px;
}
.features-container {
    margin-bottom: 20px;
}
.reviews-container {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: end;
}
.review:nth-child(2) {
    align-self: start;
}
.review {
    padding: 30px 40px 30px 30px;
    background-color: white;
    box-shadow: -2px 1px 20px -9px rgba(143,143,143,0.1);
    -webkit-box-shadow: -2px 1px 20px -9px rgba(143,143,143,0.1);
    -moz-box-shadow: -2px 1px 20px -9px rgba(143,143,143,0.1);
    max-width: 400px;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 50px;
    overflow: hidden;
}
.logo-container {
    display: flex;
    align-items: center;
    background-color: white;
}
.logo-container img {
    width: 100px;
    height: 50px;
    object-fit: contain;
}
.logo-container .stars {
    display: flex;
    margin-left: 20px;
}
.review h3 {
    font-size: 1rem;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #18181B;
    background-color: white;
}
.review p {
    color: #52525A;
    background-color: white;
}
@media (min-width: 1024px) {
    .testimonial-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 20px;
    }
}